@use '../../variables' as v;

.home-page
{
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .home-page--main-content
    {
        margin-left: 20px;
        margin-right: 50px;

        .home-page--title
        {
            font-weight: 800;
            font-size: 36px;
            line-height: 44px;
        }

        .home-page--post-title
        {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }

        .home-page--login-buttons
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-block: 30px;

            & > button
            {
                @include v.primary_button($width: 172px);

                & > a
                {
                    color: inherit;
                    text-decoration: none;
                }
            }

        }
    }
}