@use "../../variables" as v;

.main-page
{
    height: 89vh;
    background-color: v.$background-grey-color;
    overflow-y: scroll;

    .main-page--search-bar
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 64px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
        border-radius: 7px;
        border: none;
        background-color: #fff;

        .main-page--search-input
        {
            width: 95%;
            border: none;
            font-size: 13px;
            line-height: 16px;
            color: v.$text-grey;
        }
    }

    .main-page--destinations
    {
        text-align: center;
    }

    .main-page--discover-section, .main-page--destinations
    {
        margin-block: 30px;

        & > h2
        {
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            text-align: center;
            color: #000;
            margin-bottom: 30px;
        }
    }
}


@media (max-width: v.$breakForMobile)
{
    .destinations-world-map
    {
        width: 100%;
    }
}

@media (min-width: (v.$breakForMobile + 1)) 
{
    .destinations-world-map
    {
        width: 40%;
    }
}