*
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

textarea:focus, input:focus{
    outline: none;
}

.main
{
    background-image: url("../public/images/background-road.png");
}