@use "../../variables.scss" as v;

.travel-card
{
    background-color: #fff;
    margin: 0 auto;
    padding: 5px 3px;
    border-radius: 10px;
    width: 85%;

    .card--image
    {
        margin: 0 auto;
        width: 100%;
        border-radius: 5px;
    }

    .card--desc
    {
        padding-left: 3px;
        margin-top: 5px;

        .card--place
        {
            @include v.place-info;
        }

        .card--country
        {
            @include v.country-info;
        }
    }

    .card--view-more-btn
    {
        @include v.primary_button;
        width: 99%;
        margin-top: 25px;
        margin-bottom: 2px;
    }
}

.card--modal
{
    position: relative;
    background-color: #fff;
    height: 100vh;
    padding: 23px;

    .modal--img
    {
        width: 100%;
        margin: 0 auto;
        border-radius: 5px;
    }

    .modal-place
    {
        @include v.place-info;
    }

    .modal--country
    {
        @include v.country-info;
    }

    .modal--visited
    {
        @include v.primary_button;
        margin-top: 20px;
    }

    .modal--description
    {
        margin-top: 10px;
    }

    .modal--close-btn
    {
        position: absolute;
        top: 1px;
        right: 5px;
        font-size: 1.5em;
        background: none;
        border: none;
        color: #000;
        font-weight: bolder;
    }
}

@media (max-width: v.$breakForMobile)
{
    
}

@media (min-width: (v.$breakForMobile + 1)) 
{
    .card--modal
    {
        width: 50%;
        margin: 0 auto;
    }
}